:root {
  --text-color: #434455;
  --dark-color: #2e2f42;
  --white-color: #ffffff;
  --primary-brand-color: #4d5ae5;
  --light-color: #f4f4fd;
  --pressed-state-color: #404bbf;
  --accent-color: #e7e9fc;
  --succes-color: #31d0aa;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
}
ul {
  margin: 0;
  padding-left: 0;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  max-width: 320px;
}
.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
  text-align: center;
}
.section-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.section-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo {
  color: var(--primary-brand-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-span {
  color: var(--dark-color);
}
.footer-logo-span {
  color: var(--light-color);
}
.header {
  padding: 24px 16px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.header-container {
  border-bottom: var(--accent-color);
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  margin: 0;
  flex-grow: 1;
}
.header-logo {
  margin-right: auto;
}
.header-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list {
  display: none;
}
.mob-wrap {
  display: flex;
  flex-direction: column;
  height: calc(100% - 24px);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  padding: 24px 24px 40px 40px;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-toggle {
  border: none;
  background-color: transparent;
  width: 32px;
  padding: 0;
}
.mob-closed-btn {
  border-radius: 24px;
  border: 1px solid var(--accent-color);
  width: 24px;
  height: 24px;
  fill: var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.mob-closed-btn:hover,
.mob-closed-btn:focus {
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--white-color);
}
.mob-menu-nav {
  margin-top: 32px;
  margin-bottom: auto;
}
.modal-contact-wrap {
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mob-menu-item {
  width: calc((100% - 2 * 24px) / 3);
}
.mob-menu-link {
  font-size: 24px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: var(--dark-color);
}
.mob-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header-list-tel {
  font-size: 24px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #4d5ae5;
  font-style: normal;
}
.header-list-email {
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
  font-style: normal;
}
.mob-menu-address {
  margin-bottom: 48px;
}
.mob-menu-icon-wrap {
}
.mob-menu {
  display: flex;
  gap: 24px;
  max-width: 260px;
}
.mob-menu-items {
  flex-basis: calc(((100% - 3 * 24px) / 4) - 6px);
  width: 40px;
  height: 40px;
}
.mob-menu-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-bg:hover {
  background-color: var(--pressed-state-color);
}
.mob-menu-bg:focus {
  background-color: var(--pressed-state-color);
}

.mob-menu-icon {
  fill: var(--white-color);
}
.menu-icon {
  stroke: var(--dark-color);
}
.opened-page {
  position: relative;
  color: var(--pressed-state-color);
}
.opened-page::after {
 display: none;
}
.header-menu {
  display: none;
}

.hero {
  background-color: var(--dark-color);
  padding-top: 72px;
  padding-bottom: 72px;  
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-bg.jpg);
  max-width: 100%;
  height: 432px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-bg-2x.jpg);
  }
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--white-color);
  text-align: center;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  border: none;
  font-family: inherit;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}
.adventures {
  max-width: 100%;
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.adventures-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.adventures-item {
  width: 100%;
}
.adventures-img-bg {
  display: none;
}
.adventures-subtitle {
  margin-bottom: 8px;
  text-align: center;
}
.adventures-text {
}
.work {
  display: none;
}
.team {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--light-color);
  max-width: 100%;
}
.team > .container {
  width: 296px;
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
.team-item {
  background-color: var(--white-color);
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name-person {
  padding: 32px 0;
}
.team-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.icons-list {
  display: flex;
  gap: 24px;
  width: 232px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.icons-items {
  flex-basis: calc((100% - 3 * 24px) / 4);
  width: 40px;
  height: 40px;
}
.icons-items-icon {
  fill: var(--light-color);
}
.icons-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-bg:hover {
  background-color: var(--pressed-state-color);
}
.icons-bg:focus {
  background-color: var(--pressed-state-color);
}
.team-subtitle {
  margin-bottom: 8px;
  text-align: center;
}
.team-text {
  text-align: center;
  margin-bottom: 8px;
}
.customers {
  margin: 0 auto;
  max-width: 100%;
  padding: 96px 0;
}
.customers-title {
  text-align: center;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
}
.customers-item {
  width: 190px;
  height: 88px;

  flex-basis: calc((100% - 16px) / 2);
}
.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
}
.customers-link:hover,
.customers-link:focus {
  color: var(--pressed-state-color);
  border: 1px solid var(--pressed-state-color);
}
.customers-item-icon {
  fill: currentColor;
}
.footer {
  background-color: var(--dark-color);
  padding: 96px 0;
  margin: 0 auto;
  max-width: 100%;
}
.footer-wrap {
  display: flex;
  flex-wrap: wrap;
  min-width: 208px;
  align-items: baseline;
}
.footer-container {
  padding: 0;
  min-width: 264px;
  margin: 0 auto;
  margin-bottom: 72px;
}
.footer-logo {
  display: block;
  text-align: center;
  margin-bottom: 18px;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  width: 264px;
}
.send-wrap {
  text-align: center;
}
.send-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}
.send-form {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}
.send-label {
}
.send-input {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  width: 290px;
  height: 40px;
  padding-left: 16px;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-input::placeholder {
  color: inherit;
}
.send-input:hover,
.send-input:focus {
  border-color: var(--primary-brand-color);
}
.send-btn {
  min-width: 165px;
  display: flex;
  background-color: var(--primary-brand-color);
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  fill: var(--white-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-btn:hover,
.send-btn:focus {
  background-color: var(--pressed-state-color);
}
.send-image {
  margin-left: 16px;
}
.social {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.social-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  gap: 16px;
  margin-bottom: 72px;
}
.social-items {
  width: calc((100% - 16px * 3) / 4);
  width: 40px;
  height: 40px;
}
.icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-link:hover {
  background-color: var(--succes-color);
}
.icons-link:focus {
  background-color: var(--succes-color);
}
.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: calc(100% - 30px);
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 18px 24px 18px;
  max-width: 408px;
}
.modal-closed-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.closed-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-closed-btn:hover,
.modal-closed-btn:focus {
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--white-color);
}
.modal-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 16px;
}
.input-wrap {
  margin-bottom: 8px;
}
.textarea-wrap {
  margin-bottom: 16px;
}
.input-label {
  display: block;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-input-wrap {
  position: relative;
}
.modal-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--primary-brand-color);
}
.modal-input:hover + .input-icon,
.modal-input:focus + .input-icon {
  fill: var(--primary-brand-color);
}
.modal-textarea {
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: var(--primary-brand-color);
}
.checkbox {
  display: flex;
  margin-bottom: 24px;
  text-align: center;
}
.check-text {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.policy {
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--primary-brand-color);
}
.privacy-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  margin-right: 12px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.input-check:checked + .check-text .privacy-span {
  background: var(--pressed-state-color);
  border: 1px solid var(--pressed-state-color);
  fill: var(--light-color);
  border: none;
}
.input-check:focus + .check-text .privacy-span {
  border-color: var(--pressed-state-color);
}
.modal-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background: var(--primary-brand-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--pressed-state-color);
}
.porfolio {
  padding: 48px 0;
  max-width: 100%;
}
.porfolio-container {
}
.porfolio-menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  gap: 24px;
  justify-content: flex-start;
  padding-left: 0;
}
.porfolio-item {
}
.porfolio-button {
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  border: 1px solid #e7e9fc;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio-button:focus,
.porfolio-button:hover {
  color: var(--white-color);
  background-color: var(--pressed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid transparent;
}
.porfolio-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
}
.porfolio-list-item {
  width: 100%;
}
.porfolio-list-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img-wrap {
  position: relative;
  overflow: hidden;
}
.porfolio-list-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.hidden-text {
  display: block;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: var(--primary-brand-color);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
}
.porfolio-list-link:hover,
.porfolio-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.porfolio-list-link:hover .hidden-text {
  transform: translateY(0%);
}
.porfolio-list-link:focus .hidden-text {
  transform: translateY(0%);
}
.porfolio-list-img {
}
.type-wrap {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  background: var(--white-color);
  border-top: none;
}
.porfolio-list-subtitle {
  margin-bottom: 8px;
}
.porfolio-list-text {
  color: var(--text-color);
}
@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
    width: 100%;
  }
  .mob-menu {
    gap: 56px;
    max-width: 328px;
  }
  .mob-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;   
  }
  .mob-menu-link {
    font-size: 36px;
  }
  .mob-menu-item {
    width: calc((100% - 2 * 40px) / 3);
  }
  .mob-menu-items {
    width: calc((100% - 3 * 56px) / 4) - 36px;
  }
  .mob-menu-address-list {
    gap: 40px;
  }
  .checkbox {
    text-align: unset;
  }
  .header-list-tel {
    font-size: 36px;
  }
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  } 
  .send-input {
    width: 398px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
  }
  .header {
    padding: 0 16px;
  }
  .header-container {
    justify-content: space-between;
  }
  .header-nav {
    flex-grow: 0;
  }
  .menu-toggle {
    display: none;
  }
  .header-logo {
    font-size: 16px;
    margin-right: 120px;
  }
  .header-menu {
    display: flex;
    gap: 40px;
  }
  .header-link:hover,
  .header-link:focus {
    color: var(--pressed-state-color);
  }
  .opened-page::after {
    display: unset;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state-color);
    bottom: -1px;
  }
  .header-address {
    font-style: normal;
  }
  .header-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 0;
  }
  .header-list-item {
    padding: 0;
  }
  .header-list-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: inherit;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-list-link:hover,
  .header-list-link:focus {
    color: var(--pressed-state-color);
  }
  .hero {
    width: 100%;
    padding-bottom: 112px;
    padding-top: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-bg.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet-bg-2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
  .modal-content {
    padding-right: 24px;
    padding-left: 24px;
  }
  .adventures {
    padding: 96px 0;
  }
  .adventures-list {
    gap: 72px 24px;
  }
  .adventures-item {
    flex-wrap: wrap;
    flex-basis: calc((100% - 24px) / 2);
  }
  .adventures-subtitle {
    text-align: left;
}
 .team > .container {
  width: 584px;
 }
  .team-list {
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .team-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .customers > .container {
    width: 584px;
  }
  .customers-list {
    gap: 72px 24px;
  }
  .customers-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-wrap {
    row-gap: 72px;
  }
  .footer > .container {
    width: 584px;
  }
  .footer-container {
    margin: 0;
    margin-right: 24px;
  }
  .footer-logo {
    text-align: left;
  }
  .social {
    margin: 0;
    text-align: left;
  }
  .social-list {
    margin-bottom: 0;
  }
  .send-wrap {
    text-align: left;
  }
  .send-form {
    gap: 24px;
  }
  .send-input {
    width: 264px;
  }
  .porfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .porfolio-menu {
    justify-content: center;
  }
  .porfolio-menu {
    margin-bottom: 64px;
  }
  .porfolio-list {
    flex-wrap: wrap;
    gap: 72px 24px;
    padding-left: 0;
    flex-direction: row;
  }
  .porfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .team > .container, .customers > .container, .footer > .container {
    width: unset;
   }
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
    text-align: center;
  }
  .section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
  }
  .section-text {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
  }
  .header-nav {
    flex-grow: 1;
    margin-right: auto;
  }
  .header-logo {
    font-size: 18px;
  }
  .header-nav {
    flex-grow: 1;
  }
  .header-list {
    flex-direction: row;
    gap: 40px;
  }
  .header-list-link {
    font-size: 16px;
    line-height: 1.5;
  }
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-bg.jpg);
    height: 600px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-bg-2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
  }
  .adventures {
    padding: 120px 0;
  }
  .adventures-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .adventures-img-bg {
    display: flex;
    width: 264px;
    height: 112px;
    left: 0px;
    top: 0px;
    background: var(--light-color);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  .work {
    display: block;
    padding-bottom: 120px;
  }
  .work-title {
    margin-bottom: 72px;
  }
  .work-list {
    display: flex;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;
  }
  .team {
    padding: 120px 0;
  }
  .team-list {
    gap: 24px;
  }
  .team-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .customers {
    min-height: 440px;
    padding: 120px 0;
  }
  .customers-list {
    gap: 24px;
  }
  .customers-item {
    flex-basis: calc((100% - 5 * 24px) / 6);
  }
  .footer {
    padding: 100px 0;
  }
  .footer-wrap {
    row-gap: unset;
  }
  .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
  }
  .footer-container {
    min-width: 264px;
    margin-right: 120px;
    margin-bottom: 0;
  }
  .social-list {
    margin-bottom: 0;
  }
  .send-wrap {
    margin-left: 80px;
  }
  .porfolio {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .porfolio-menu {
    margin-bottom: 72px;
  }
  .porfolio-list {
    gap: 48px 24px;
  }
  .porfolio-list-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}
